{% extends "base_mc.html" %}

{% block content %}

<h2>All-skate MC controls</h2>

<div class="display">
  <button type="button" id="clear">
    Clear all-skate display
  </button>
</div>
<div class="display">
  <button type="button" id="randomize">
    Choose random rotation
  </button>
</div>

<script language="JavaScript">
document.getElementById("clear").addEventListener("click", sendAllSkateClear);
document.getElementById("randomize").addEventListener("click", sendAllSkateRandom);

function sendAllSkateClear() {
  const CHANNEL_NAME = 'all-skate-random';
  const channel = new window.BroadcastChannel(CHANNEL_NAME);

  console.log(`Posting clear message to channel, "${CHANNEL_NAME}"`);
  channel.postMessage(' ');
}
function sendAllSkateRandom() {
  const CHANNEL_NAME = 'all-skate-random';
  const channel = new window.BroadcastChannel(CHANNEL_NAME);

  console.log(`Posting clear message to channel, "${CHANNEL_NAME}"`);
  channel.postMessage(' ');

  const maxRotation = 5;
  const message = Math.floor(Math.random() * maxRotation) + 1;
  console.log(`Posting message, "${message}", to channel, "${CHANNEL_NAME}"`);

  // Use enough delay that we're likely to trigger a new Flapper change event
  setTimeout(function(){ channel.postMessage(message); }, 500);
}
</script>

{% endblock %}
