{% extends "base_generic.html" %}

{% block content %}

  {% load static %}
  <style>
    body { 
    background: url("/static/images/sweden_westie_gala_side_diamonds_bottom_diamonds.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    .display {
    position: absolute;
    left: 0;
    top: 42%;
    width: 100%;
    text-align: center;
    }
  </style>
  <script src="{% static "js/transform/dist/jquery.transform-0.9.3.min.js" %}"></script>
  <script src="{% static "js/jshashtable-2.1/jshashtable.js" %}"></script>
  <script src="{% static "js/numberformatter/jquery.numberformatter-1.2.3.min.js" %}"></script>
  <script src="{% static "js/jquery.flapper.js" %}"></script>
  <link href="{% static "css/flapper.css" %}" type="text/css" rel="stylesheet" />

  <div class="display">
   <input class="header dark X5L" id="flapper_animation" data-js="the_flapper"/>
  </div>

<script language="JavaScript">
  var demo_chars = ['9','8','7','6','5','4','3','2','1','0','_'];
  var options = {
  width: 1,             // number of digits
  format: null,         // options for jquery.numberformatter, if loaded
  align: 'right',       // aligns values to the left or right of display
  padding: '&nbsp;',    // value to use for padding
  chars: demo_chars,    // array of characters that Flapper can display
  chars_preset: 'num',  // 'num', 'hexnum', 'alpha' or 'alphanum'
  timing: 250,          // the maximum timing for digit animation
  min_timing: 100,      // the minimum timing for digit animation
  threshhold: 100,      // the point at which Flapper will switch from
                        // simple to detailed animations
  transform: true,      // Flapper automatically detects the jquery.transform
                        // plugin. Set this to false if you want to force
                        // transform to off
  on_anim_start: null,  // Callback for start of animation
  on_anim_end: null     // Callback for end of animation
  };
  $('#flapper_animation').flapper(options).val(' ').change();

(function (window) {
  const CHANNEL_NAME = 'all-skate-random';
  const channel = new window.BroadcastChannel(CHANNEL_NAME);
  
  const output = document.getElementById("flapper_animation");

  channel.addEventListener('message', function(event) {
    console.log(`Received message, "${event.data}", on channel, "${CHANNEL_NAME}"`);
    $(output).val(event.data).change();
  });
})(window);
</script>
{% endblock %}
