{% extends "base_generic.html" %}

{% block content %}

<!--
        <h1>{{title}}</h1>
-->
  {% load static %}
  <script src="{% static "js/transform/dist/jquery.transform-0.9.3.min.js" %}"></script>
  <script src="{% static "js/jshashtable-2.1/jshashtable.js" %}"></script>
  <script src="{% static "js/numberformatter/jquery.numberformatter-1.2.3.min.js" %}"></script>
  <script src="{% static "js/jquery.flapper.js" %}"></script>
  <link href="{% static "css/flapper.css" %}" type="text/css" rel="stylesheet" />

  <!--<img src="{% static "images/sweden_westie_gala.jpg" %}" alt="Smiley face" height="42" width="42">-->
<div class="display">
   <input class="header dark XXL" id="animation_demo" />
 </div>
<script language="JavaScript">
  var demo_chars = ['9','8','7','6','5','4','3','2','1','0','_'];
  var options = {
  width: 1,             // number of digits
  format: null,         // options for jquery.numberformatter, if loaded
  align: 'right',       // aligns values to the left or right of display
  padding: '&nbsp;',    // value to use for padding
  chars: demo_chars,    // array of characters that Flapper can display
  chars_preset: 'num',  // 'num', 'hexnum', 'alpha' or 'alphanum'
  timing: 250,          // the maximum timing for digit animation
  min_timing: 100,      // the minimum timing for digit animation
  threshhold: 100,      // the point at which Flapper will switch from
                        // simple to detailed animations
  transform: true,      // Flapper automatically detects the jquery.transform
                        // plugin. Set this to false if you want to force
                        // transform to off
  on_anim_start: null,  // Callback for start of animation
  on_anim_end: null     // Callback for end of animation
  };
  $('#animation_demo').flapper(options).val(3).change();
</script>
{% endblock %}
