{% extends "base_generic.html" %}

{% block content %}

<style>
  button {
  display: block;
  margin: 30px;
  padding: 7px 35px;
  font: 300 150% langdon;
  background: transparent;
  border: 3px solid black;
  cursor: pointer;
}
</style
  <div class="display">
  <button type="button" id="clear">
    Clear spotlight display
  </button>
</div>
<div class="display">
  <button type="button" id="randomize">
    Choose random dancer
  </button>
</div>
<div class="display">
  <button type="button" id="reset">
    Let all dancers dance again
  </button>
</div>

<script language="JavaScript">
document.getElementById("clear").addEventListener("click", sendSpotlightClear);
document.getElementById("randomize").addEventListener("click", sendSpotlightRandom);
document.getElementById("reset").addEventListener("click", sendSpotlightReset);

function sendSpotlightClear() {
  const CHANNEL_NAME = 'spotlight-random';
  const channel = new window.BroadcastChannel(CHANNEL_NAME);

  console.log(`Posting clear message to channel, "${CHANNEL_NAME}"`);
  channel.postMessage({name: '', bib_number: '   '});
}

function sendSpotlightRandom() {
  const CHANNEL_NAME = 'spotlight-random';
  const channel = new window.BroadcastChannel(CHANNEL_NAME);

  console.log(`Posting clear message to channel, "${CHANNEL_NAME}"`);
 // channel.postMessage({name: '', bib_number: '   '});

// Use enough delay that we're likely to trigger a new Flapper change event
// TODO remove this delay now it's not needed
  setTimeout(function(){ 
  $.get( "/randomizer/spotlight_dancer", function( data ) {
    console.log(`Posting JSON message to channel, "${CHANNEL_NAME}" containing "${data}"`);
    channel.postMessage(data);
  })}, 500);
}

function sendSpotlightReset() {
  $.get( "/randomizer/spotlight_reset/");
  console.log("Sending reset to db");
}

</script>

{% endblock %}
